<mat-sidenav-container style="height: 100vh; width: 100vw">
  <mat-sidenav #drawer mode="over">
    <div style="display: flex">
      <mat-icon style="margin: auto 16px">account_balance_wallet</mat-icon>
      <h2 class="mat-h2">DISORDER APP</h2>
    </div>
    <mat-nav-list>
      <mat-list-item (click)="onMenuItemClick('transacoes', drawer)">
        <mat-icon style="margin: auto 16px">monetization_on</mat-icon>
        Transações
      </mat-list-item>
      <mat-list-item (click)="onMenuItemClick('carteiras', drawer)">
        <mat-icon style="margin: auto 16px">credit_card</mat-icon>
        Carteiras
      </mat-list-item>
      <mat-list-item (click)="onMenuItemClick('categorias', drawer)">
        <mat-icon style="margin: auto 16px">style</mat-icon>
        Categorias
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar style="gap: 16px">
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <h1 class="mat-h2">{{ titulo() }}</h1>
    </mat-toolbar>

    <div style="padding: 0 32px">
      <ng-content />
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
