<div style="height: 100%; display: flex; flex-direction: column">
  <div style="display: flex; justify-content: center; padding: 16px">
    Selecao mes
  </div>

  <mat-divider />

  <div
    style="
      display: grid;
      grid-template-columns: 160px 1fr;
      gap: 32px;
      padding: 16px 0;
    "
  >
    <div style="display: flex; flex-direction: column; gap: 32px">
      <button type="button" class="button-img">
        <img
          src="assets/icons/receita.png"
          alt="Seta para cima e dinheiro"
          width="132"
          height="84"
        />
      </button>
      <button type="button" class="button-img">
        <img
          src="assets/icons/gasto.png"
          alt="Seta para baixo e dinheiro"
          width="132"
          height="84"
        />
      </button>
    </div>

    <app-tabela-transacoes
      [dataSource]="transacoes"
      (editRowClick)="onEdit($event)"
      (deleteRowClick)="onDelete($event)"
    />
  </div>
</div>
