<div style="padding: 16px 0"><mat-divider /></div>

<mat-card style="width: 220px; height: 220px">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>Entrada real</mat-card-title>
    </mat-card-title-group>
  </mat-card-header>
  <div style="padding: 16px 0"><mat-divider /></div>

  <mat-card-content>
    <div
      style="
        display: flex;
        height: 100%;
        flex-direction: column;
        align-items: center;
      "
    >
      <img
        mat-card-sm-image
        src="assets/icons/saco-de-dinheiro.png"
        alt="Saco de dinheiro vetorizado"
      />
      <input
        matInput
        class="input"
        [value]="entrada | currency : 'BRL'"
        [disabled]="true"
      />
    </div>
  </mat-card-content>
</mat-card>

<div style="padding: 16px 0"><mat-divider /></div>
